<app-catalog-layout title="Configuración"
                    [justRead]="true"
                    [readData]="getDataTransformed"
                    [fields]="['Usuario', 'Rol']"
                    (onSearch)="search($event)">
  @if (currentUser?.Rol === '1') {
    <div class="bg-white rounded-xl shadow p-6">
      <div class="flex justify-end items-center mb-4">

        <app-button btnId="btn-add-user"
                    iconType="plus"
                    btnText="Agregar Usuario"
                    btnColor="btn-blue"
                    padding=""
                    margin=""
                    (btnClicked)="showModal = true">
        </app-button>
      </div>

      <app-simple-table
        [headers]="['UsuarioID', 'NombreUsuario', 'Rol', 'Acciones']"
        [rows]="usuarios"
        (onDelete)="eliminarUsuario($event)">
      </app-simple-table>
    </div>
  }
</app-catalog-layout>

@if (showModal) {
  <div class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50">
    <div class="bg-white rounded-xl shadow-lg w-full max-w-md p-6 relative">
      <h2 class="text-xl font-semibold mb-4">Agregar Usuario</h2>

      <form [formGroup]="usuarioForm" (ngSubmit)="createUser()">
        <div class="space-y-4">
          <label class="block">
            <span class="text-gray-700">Nombre de usuario</span>
            <input formControlName="NombreUsuario" type="text" class="mt-1 block w-full border rounded px-3 py-2" />
          </label>

          <label class="block">
            <span class="text-gray-700">Contraseña</span>
            <input formControlName="Contrasena" type="password" class="mt-1 block w-full border rounded px-3 py-2" />
          </label>

          <label class="block">
            <span class="text-gray-700">Rol</span>
            <select formControlName="Rol" class="mt-1 block w-full border rounded px-3 py-2">
              <option value="1">Administrador</option>
              <option value="2">Empleado</option>
            </select>
          </label>
        </div>

        <div class="mt-6 flex justify-end ">
          <app-button btnId="btn-cancel"
                      btnText="Cancelar"
                      btnColor="btn-gray"
                      margin=""

                      (btnClicked)="showModal = false">
          </app-button>

          <button type="submit">
            <app-button btnId="btn-save"
                        btnText="Guardar"
                        margin=""
                        padding=""
                        btnColor="btn-green">
            </app-button>
          </button>
        </div>
      </form>
    </div>
  </div>
}
