<div class="p-6 space-y-6">
  <h1 class="text-3xl font-bold text-gray-800">{{ title }}</h1>

  <!-- Search form -->
  <div class="bg-white p-4 rounded-xl shadow flex flex-wrap gap-4 items-end">
    <div class="flex flex-wrap gap-4 items-end mb-4">
    <div *ngFor="let field of fields" class="flex flex-col">
      <label class="block text-gray-600 text-sm font-bold mb-1">{{ field }}</label>
      <input
        [(ngModel)]="searchValues[field]"
        type="text"
        class="border border-gray-300 rounded px-3 py-1 text-md"
      />
    </div>

    <!-- Botón de búsqueda -->
    <button
      (click)="emitSearch()"
      class="bg-blue-500 text-white px-4 py-2 rounded text-sm hover:bg-blue-600 transition">
      Buscar
    </button>
  </div>
  </div>

  <ng-content></ng-content>
</div>
