<app-catalog-layout title="Clientes"
                    [fields]="['Nombre', 'Apellido', 'Telefono', 'Nit']"
                    (onSearch)="search($event)">
  <div class="bg-white rounded-xl shadow p-6">
    <div class="flex justify-end items-center mb-4">
      <app-button btnId="btn-add-user"
                  iconType="plus"
                  btnText="Agregar Cliente"
                  btnColor="btn-blue"
                  padding=""
                  margin=""
                  (btnClicked)="showModal = true">
      </app-button>
    </div>
    <app-simple-table
      [headers]="['ClienteID', 'Nombre', 'Apellido', 'Telefono','Nit', 'Acciones']"
      [rows]="clientes"
      [showEdit]="true"
      (onDelete)="deleteClient($event)"
      (onEdit)="editClient($event)">
    </app-simple-table>
  </div>
</app-catalog-layout>
@if (showModal) {
  <app-client-modal (showModal)="showModal = $event" (onCFChange)="onCFChange()" (onCreate)="create()" (onUpdate)="updateClient()" [isModalEdit]="isModalEdit" [clientForm]="clientForm" ></app-client-modal>
}
