<app-catalog-layout title="Órdenes"
                    [fields]="['Número de Orden', 'Fecha de Orden', 'NIT del Cliente', 'Nombre del Cliente', 'Placa del Vehículo', 'Estado']"
                    (onSearch)="search($event)">
  <div class="bg-white rounded-xl shadow p-6">
    <div class="flex justify-end items-center mb-4">
      <app-button
        btnId="btn-add-order"
        iconType="plus"
        btnText="Agregar Orden"
        btnColor="btn-blue"
        padding=""
        margin=""
        (btnClicked)="goToCreateOrder()"
      >
      </app-button>
    </div>
    <app-simple-table
      [headers]="['Orden', 'Fecha', 'NIT', 'Cliente', 'Placa', 'Total', 'Estado', 'Acciones']"
      [rows]="OrderTableRow"
      [showEdit]="true"
      [showUpdateStatus]="true"
      (onDelete)="deleteOrder($event)"
      (onEdit)="editOrder($event)"
      (onUpdateStatus)="updateOrderStatus($event)"
    >
    </app-simple-table>
  </div>
</app-catalog-layout>
