<app-catalog-layout title="Órdenes"
                    [fields]="['Número de Orden', 'NIT del Cliente', 'Nombre del Cliente', 'Estado']"
                    (onSearch)="search($event)"
                    (onClearSearch)="loadOrders()"
                    [pdfTitle]="'Descargar órdenes'"
                    [showExcel]="true"
                    (exportPDF)="showReportModal = true">
  <div class="bg-white rounded-xl shadow p-6">
    <div class="flex justify-end items-center mb-4">
      <app-button
        btnId="btn-add-order"
        iconType="plus"
        btnText="Agregar Orden"
        btnColor="btn-blue"
        padding=""
        margin=""
        (btnClicked)="goToCreateOrder()"
      >
      </app-button>
    </div>
    <app-simple-table
      [headers]="['Orden', 'Fecha', 'NIT', 'Cliente', 'Placa', 'Total', 'Estado', 'Acciones']"
      [rows]="OrderTableRow"
      [showEdit]="true"
      [showUpdateStatus]="true"
      [showDownload]="true"
      (onDelete)="deleteOrder($event)"
      (onEdit)="editOrder($event)"
      (onUpdateStatus)="updateOrderStatus($event)"
      (onDownload)="downloadOrder($event)"
    >
    </app-simple-table>
  </div>
</app-catalog-layout>
<div *ngIf="showReportModal" class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50">
  <div class="bg-white rounded-xl shadow-lg w-full max-w-md p-6 relative">
    <h2 class="text-xl font-semibold mb-4">Exportar Reporte de Órdenes</h2>

    <div class="space-y-4">
      <button (click)="exportDailyReport()" class="w-full bg-blue-600 text-white py-2 rounded-xl hover:bg-blue-700">
        Reporte del Día
      </button>

      <button (click)="exportMonthlyReport()" class="w-full bg-blue-600 text-white py-2 rounded-xl hover:bg-blue-700">
        Reporte del Mes
      </button>

      <button (click)="exportYearlyReport()" class="w-full bg-blue-600 text-white py-2 rounded-xl hover:bg-blue-700">
        Reporte del Año
      </button>
    </div>

    <div class="mt-6 flex justify-end">
      <app-button btnId="btn-cancel-report"
                  btnText="Cerrar"
                  btnColor="btn-gray"
                  margin=""
                  padding=""
                  (btnClicked)="showReportModal = false">
      </app-button>
    </div>
  </div>
</div>
