<div class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50">
  <div class="bg-white rounded-xl shadow-lg w-full max-w-md p-6 relative">
    @if (isModalEdit) {
      <h2 class="text-xl font-semibold mb-4">Editar Cliente</h2>
    } @else {
      <h2 class="text-xl font-semibold mb-4">Agregar Usuario</h2>
    }

    <form [formGroup]="clientForm" >
      <div class="space-y-4">
        <!-- Nombre -->
        <label class="block">
          <span class="text-gray-700">Nombre *</span>
          <input formControlName="Nombre" type="text" class="mt-1 block w-full border rounded px-3 py-2" />
          <div *ngIf="clientForm.get('Nombre')?.invalid && clientForm.get('Nombre')?.touched" class="text-red-500 text-sm">
            Nombre es requerido.
          </div>
        </label>

        <!-- Apellido -->
        <label class="block">
          <span class="text-gray-700">Apellido</span>
          <input formControlName="Apellido" type="text" class="mt-1 block w-full border rounded px-3 py-2" />
        </label>

        <!-- Teléfono -->
        <label class="block">
          <span class="text-gray-700">Teléfono</span>
          <input formControlName="Telefono" type="text" class="mt-1 block w-full border rounded px-3 py-2" />
        </label>

        <!-- Correo Electrónico -->
        <label class="block">
          <span class="text-gray-700">Correo Electrónico</span>
          <input formControlName="CorreoElectronico" type="email" class="mt-1 block w-full border rounded px-3 py-2" />
        </label>

        <!-- Dirección -->
        <label class="block">
          <span class="text-gray-700">Dirección *</span>
          <input formControlName="Direccion" type="text" class="mt-1 block w-full border rounded px-3 py-2" />
          <div *ngIf="clientForm.get('Direccion')?.invalid && clientForm.get('Direccion')?.touched" class="text-red-500 text-sm">
            Dirección es requerida.
          </div>
        </label>

        <!-- NIT -->
        <label class="block">
          <div class="flex items-center justify-between">
            <span class="text-gray-700">NIT*</span>

            <!-- Checkbox CF -->
            <label class="inline-flex items-center space-x-2">
              <input type="checkbox"
                     formControlName="esConsumidorFinal"
                     (change)="onCFChange.emit()"
                     class="form-checkbox text-green-500">
              <span class="text-sm text-gray-600">CF</span>
            </label>
          </div>

          <input
            formControlName="Nit"
            type="text"
            [disabled]="clientForm.get('esConsumidorFinal')?.value"
            class="mt-1 block w-full border rounded px-3 py-2"
          />

          <div *ngIf="clientForm.get('Nit')?.invalid && clientForm.get('Nit')?.touched" class="text-red-500 text-sm">
            NIT es requerido.
          </div>
        </label>
      </div>

      <div class="mt-6 flex justify-end ">
        <app-button btnId="btn-cancel"
                    btnText="Cancelar"
                    btnColor="btn-gray"
                    margin=""

                    (btnClicked)="showModal.emit(false)">
        </app-button>

        <button type="submit">
          <app-button btnId="btn-save"
                      btnText="Guardar"
                      margin=""
                      padding=""
                      btnColor="btn-green"
                      (btnClicked)="isModalEdit ? onUpdate.emit() : onCreate.emit()">
          </app-button>
        </button>
      </div>
    </form>
  </div>
</div>
