<div class="flex flex-col relative w-fit">
  <div id="menu" class="bg-gray-900 min-h-screen z-10 text-slate-300 w-64 fixed left-0 h-screen flex flex-col justify-between">
    <div>
      <div id="logo" class="my-4 px-6">
        <h1 class="text-lg md:text-2xl font-bold text-white">Logo Taller los dos</h1>
      </div>

      <app-button btnId="btn-logout"
                  iconType="plus"
                  btnText="Nueva Orden"
                  btnColor="btn-green"
                  (btnClicked)="showNewOrderModal()">
      </app-button>
      <app-button
        btnId="btn-export"
        iconType="xml"
        btnText="Ordenes del día"
        btnColor="btn-blue"
        (click)="exportarOrdenesEntregadas()"
      >
      </app-button>

      <div id="nav" class="w-full px-6">

        <!-- Dashboard -->
        <a [routerLink]="['/dashboard']"
           routerLinkActive="bg-blue-800"
           class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">
          <!-- icon and label -->
          <div><!-- svg here --></div>
          <div class="flex flex-col">
            <span class="text-lg font-bold leading-5 text-white">Dashboard</span>
          </div>
        </a>

        <!-- Órdenes -->
        <a [routerLink]="['/orders']"
           routerLinkActive="bg-blue-800"
           class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">
          <!-- svg and labels -->
          <div><!-- svg here --></div>
          <div class="flex flex-col">
            <span class="text-lg text-slate-300 font-bold leading-5">Órdenes</span>
            <span class="text-sm text-slate-500 hidden md:block">Manejo de órdenes</span>
          </div>
        </a>

        <!-- Clientes -->
        <a [routerLink]="['/clientes']"
           routerLinkActive="bg-blue-800"
           class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">
          <div><!-- svg --></div>
          <div class="flex flex-col">
            <span class="text-lg text-slate-300 font-bold leading-5">Clientes</span>
          </div>
        </a>

        <!-- Inventario con submenú -->
        <div class="w-full border-b border-slate-700 py-3 "  >
          <div class="block px-3 py-2 rounded-md text-slate-300 hover:bg-white/10 transition duration-150 w-full cursor-pointer hover:bg-white/5" (click)="showInventarioSubmenu = !showInventarioSubmenu">
            <div><!-- svg --></div>
            <div class="flex flex-col">
              <span class="text-lg text-slate-300 font-bold leading-5">Inventario</span>
            </div>
          </div>
          <div *ngIf="showInventarioSubmenu" class="ml-8 mt-2 space-y-1">
            <a [routerLink]="['/inventario']"
               routerLinkActive="bg-blue-800 text-white font-bold"
               class="block px-3 py-2 rounded-md text-slate-300 hover:bg-white/10 transition duration-150">
              Productos
            </a>
            <a [routerLink]="['/marca-producto']"
               routerLinkActive="bg-blue-800 text-white font-bold"
               class="block px-3 py-2 rounded-md text-slate-300 hover:bg-white/10 transition duration-150">
              Marca de Producto
            </a>

            <a [routerLink]="['/tipo-producto']"
               routerLinkActive="bg-blue-800 text-white font-bold"
               class="block px-3 py-2 rounded-md text-slate-300 hover:bg-white/10 transition duration-150">
              Tipo de Producto
            </a>
          </div>
        </div>

        <!-- Servicios -->
        <a [routerLink]="['/servicios']"
           routerLinkActive="bg-blue-800"
           class="w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-white/5 transition ease-linear duration-150">
          <div><!-- svg --></div>
          <div class="flex flex-col">
            <span class="text-lg text-slate-300 font-bold leading-5">Servicios</span>
          </div>
        </a>

        <!-- Configuración -->
        <a [routerLink]="['/configuration']"
           routerLinkActive="bg-blue-800"
           class="w-full px-2 inline-flex space-x-2 items-center py-3 hover:bg-white/5 transition ease-linear duration-150">
          <div><!-- svg --></div>
          <div class="flex flex-col">
            <span class="text-lg text-slate-300 font-bold leading-5">Configuración</span>
          </div>
        </a>

      </div>
    </div>

    <div class="pb-10">
      <div id="profile" class="px-6 pt-10">
        <div class="inline-flex space-x-2 items-center">
                <span>
                    <img class="rounded-full w-8 h-8" src="https://picsum.photos/id/237/200/300" alt="">
                </span>
          <span class="text-sm md:text-base font-bold">
                    Administrador
                </span>
        </div>
      </div>
      <div>
        <app-button btnId="btn-logout"
                    iconType="maticon"
                    btnText="Cerrar sesion"
                    btnColor="btn-blue"
                    (btnClicked)="onLogout()">
        </app-button>
      </div>
    </div>

</div>
</div>
